* {
  box-sizing: border-box;
  border-radius: 5px;
}

body {
  height: 100vh;
  background-color: lightslategray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-color: black;
  width: 300px;
  height: 400px;
  padding: 10px;
  gap: 8px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
}

.display {
  flex: 1 1 30px;
  display: flex;
  background-color: lightyellow; 
  align-items: end;
  justify-content: right;
  font-size: 20px;
}

#displayText {
  margin: 0px;
  padding: 0px;
}

.second-container {
  display: flex;
  flex: 3 1 auto;

  gap: 5px;
}

.clear-nums {
  display: flex;
  flex-direction: column;
  flex: 3 1 auto;
  gap: 3px;
}

.clear {
  flex: 1 1 auto;
  background-color: rgb(250, 223, 188);
}

.operations {
  display: flex;
  flex: 1 1 60px;
  flex-direction: column;
  gap: 3px;
}

.oprBtns {
  flex: 1 1 auto;
  background-color: lightgrey;
}

.oprBtns.equal {
  background-color: lightsalmon;
}

.nums {
  display: flex;
  flex: 4 1 auto;
  flex-wrap: wrap;
  gap: 3px;
}

.numBtn {
  flex: 1 1 60px;
  background-color: lightcyan;

  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}